management:
  endpoints:
    shutdown:
      enabled: true
    web:
      exposure:
        include: "*"
  endpoint:
    env:
      show-values: always
    configprops:
      show-values: always
  health:
    mongo:
      enabled: false

logging:
  level:
    "org.springframework.cloud.kubernetes": INFO
    "org.springframework.web": INFO
    "sing.app.query": INFO

spring:
  config:
    import:
      - optional:file:/config/datasource.yaml
      - optional:file:/config/query.yaml

server:
  port: 8080
