name: Build with Maven

on: workflow_call

jobs:
  build-with-maven:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - run: mvn verify
      - run: cat release.env >> $GITHUB_ENV

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: deliverables
          path: ./target/${{ env.JAR_NAME }}-${{ env.MAVEN_JAR_VERSION }}.jar
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: target
          path: ./target/
